@import './variables.scss';

.AboutMeSection {
    @include medidas(100%, 100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 15rem;
    background-color: $details-secondary;
    position: relative;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1226%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1227)'%3e%3c/rect%3e%3cpath d='M0 0L52.25 0L0 45.19z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 45.19L52.25 0L659.85 0L0 137.69z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 137.69L659.85 0L998.29 0L0 148.3z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 148.3L998.29 0L1270.6799999999998 0L0 345.68z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1440 560L902.23 560L1440 323.52z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1440 323.52L902.23 560L456.5 560L1440 179.77999999999997z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1440 179.77999999999997L456.5 560L450.86 560L1440 74.94999999999997z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1440 74.94999999999999L450.86 560L327.85 560L1440 65.17999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1226'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1227'%3e%3cstop stop-color='rgba(34%2c 34%2c 34%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 172%2c 111%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile {
        padding: 0;
    }

    img {
        @include medidas(100%, 90%);
        position: absolute;
        bottom: 0;
        filter: opacity(30%);
    }

    h2 {
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }

    p {
        font-size: 1.3rem;
        margin: 0;
        @include mobile {
            padding: 0 1rem;
        }
    }
    b {
        font-size: 1.5rem;
    }
}
