@import './variables.scss';

.contact-form {
    @include medidas(100%, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $general;
    padding: 8rem 2rem 2rem 2rem;

    img {
        @include medidas(30%, auto);
        position: relative;
        right: 3rem;
        filter: opacity(80%);
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 900;
    }
}

.contact-formAndImg {
    @include medidas(100%, 90%);
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

form {
    @include medidas(55%, 90%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .names {
        @include medidas(90%, 15%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        input {
            @include medidas(48%, 100%);
        }
    }
    input {
        @include medidas(90%, 15%);
        background-color: transparent;
        outline: none;
        border: 1px solid $details;
        border-radius: 0.5rem;
        padding: 0.5rem;
        &::placeholder {
            color: $details-transparent;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:focus {
            transition: background-color 600000s 0s, color 600000s 0s;
        }
        &:focus {
            background-color: $details-transparent;
            transition: all 0.3s ease;
        }
        &:focus::placeholder {
            color: $details-transition;
            transition: all 0.3s ease;
        }
    }
    textarea {
        @include medidas(90%, 50%);
        background-color: transparent;
        outline: none;
        border: 1px solid $details;
        border-radius: 0.5rem;
        padding: 0.5rem;
        resize: none;
        &::placeholder {
            color: $details-transparent;
        }
    }

    button {
        @include medidas(30%, 10%);
        background-color: transparent;
        outline: none;
        border: 1px solid $details-transition;
        border-radius: 0.5rem;
        font-weight: 600;
        &:hover {
            background-color: $details-secondary;
            transition: 0.3s all ease;
        }
    }
}

.Toastify {
    position: absolute;
}

.Toastify__toast-container {
    position: fixed;
    top: 10rem;
}

.Toastify__toast-container--top-right {
    top: 5rem !important;
}

:root {
    --toastify-color-success: #07bc0c;
    .Toastify__toast-theme--light {
        background: $general-light;
        color: var(--toastify-text-color-light);
    }
    .Toastify__close-button--light {
        @include medidas(2rem, 2rem);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        opacity: 0.3;
    }
}
