@import './variables.scss';

.experience {
    @include medidas(100%, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0 0 0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1072%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M38 560L598 0L719.5 0L159.5 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1073%26quot%3b)'%3e%3c/path%3e%3cpath d='M345.8 560L905.8 0L1097.8 0L537.8 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1073%26quot%3b)'%3e%3c/path%3e%3cpath d='M659.6 560L1219.6 0L1603.6 0L1043.6 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1073%26quot%3b)'%3e%3c/path%3e%3cpath d='M1404 560L844 0L488.5 0L1048.5 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1074%26quot%3b)'%3e%3c/path%3e%3cpath d='M1087.2 560L527.2 0L387.70000000000005 0L947.7 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1074%26quot%3b)'%3e%3c/path%3e%3cpath d='M770.4 560L210.39999999999998 0L-31.100000000000023 0L528.9 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1074%26quot%3b)'%3e%3c/path%3e%3cpath d='M888.8002334795617 560L1440 8.800233479561712L1440 560z' fill='url(%26quot%3b%23SvgjsLinearGradient1073%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 560L551.1997665204383 560L 0 8.800233479561712z' fill='url(%26quot%3b%23SvgjsLinearGradient1074%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1072'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1073'%3e%3cstop stop-color='rgba(0%2c 177%2c 115%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 177%2c 115%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1074'%3e%3cstop stop-color='rgba(0%2c 177%2c 115%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(0%2c 177%2c 115%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -15rem;

    h2 {
        margin-bottom: 2rem;
    }

    &-box {
        @include medidas(90%, 80%);
        box-shadow: inset 0 -60px 50px -50px $general-transparent;
        border-radius: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: start;
        padding: 0rem 1rem;

        &--section {
            @include medidas(50%, 100%);
        }

        &--info {
            @include medidas(80%, 100%);
        }
        span {
            @include medidas(20%, 100%);
            background: $details;
            color: $general;
            font-weight: bolder;
            font-size: 1.1rem;
            border-radius: 0.3rem;
            padding: 0.1rem 0.5rem;
        }
        p {
            display: flex;
            flex-direction: column;
        }
    }
}

.info {
    span {
        @include medidas(20%, 100%);
        background: $details;
        color: $general;
        font-weight: bolder;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        padding: 0.1rem 0.5rem;
    }
    p {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
        margin: 0;
    }
}
