@import './variables.scss';

header {
    @include medidas(100vw, 10vh);
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        @include medidas(5%, auto);
    }
    ul {
        @include medidas(35%, 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    li {
        border-bottom: 2px solid transparent;
        list-style-type: none;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            background-color: $details-transition;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
    }
    a {
        font-weight: 600;
        text-decoration: none;
        letter-spacing: 2px;
        color: $details;

        &:hover {
            color: $details-transition;
            transition: 0.3s all ease;
        }
    }
}
