@import './variables.scss';

.header {
    position: fixed;
    z-index: 100;
    top: 0;
    @include medidas(100%, 10vh);
    padding: 0 0 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $general;
    transition: all 0.3s ease-out;

    @include mobile {
        @include medidas(100vw, 100vh);
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 0;
        left: 100%;
        transition: all 0.3s ease-out;
    }
}

.header-open {
    position: fixed;
    z-index: 100;
    @include medidas(100%, 10vh);
    padding: 0 0 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $general;
    top: 0;
    left: 0;
    transition: all 0.3s ease-out;
    @include mobile {
        @include medidas(100vw, 100vh);
        bottom: 0;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem 0;
        left: 0;
        transition: all 0.3s ease-out;
    }
}

.menu {
    display: none;
    @include mobile {
        z-index: 10000;
        border: none;
        display: flex;
        @include medidas(50px, 2px);
        background: $details;
        position: fixed;
        top: 2rem;
        right: 2rem;
        transition: all 0.1s ease-out;

        span {
            @include medidas(100%, 100%);
            display: block;
            background: $details;
            transition: all 0.1s ease-out;
        }

        &:after {
            content: '';
            display: inline;
            @include medidas(50px, 2px);
            background: $details;
            position: absolute;
            top: 1rem;
            right: 0;
            transition: all 0.3s ease-out;
        }
        &:before {
            content: '';
            display: inline;
            @include medidas(50px, 2px);
            background: $details;
            position: absolute;
            top: -1rem;
            right: 0;
            transition: all 0.3s ease-out;
        }
    }
}

.menu-open {
    display: none;
    @include mobile {
        z-index: 10000;
        border: none;
        display: block;
        @include medidas(50px, 2px);
        background: transparent;
        position: fixed;
        top: 2rem;
        right: 2rem;
        transition: all 0.1s ease-out;

        span {
            @include medidas(100%, 100%);
            display: block;
            background: transparent;
            transition: all 0.1s ease-out;
        }

        &:after {
            content: '';
            display: inline;
            @include medidas(50px, 2px);
            background: $details;
            position: absolute;
            top: 0rem;
            right: 0;
            transform: rotate(-45deg);
            transition: all 0.3s ease-out;
        }
        &:before {
            content: '';
            display: inline;
            @include medidas(50px, 2px);
            background: $details;
            position: absolute;
            top: 0rem;
            right: 0;
            transform: rotate(45deg);
            transition: all 0.3s ease-out;
        }
    }
}

.logoContainer {
    @include medidas(15%, 100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    img {
        @include medidas(30%, 30%);
        cursor: pointer;
    }

    @include mobile {
        @include medidas(100%, 20%);
        justify-content: center;
    }
}

.navigation {
    @include medidas(50%, 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        @include medidas(100%, 70%);
        flex-direction: column;
    }

    li {
        list-style-type: none;
        @include medidas(20%, 50%);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $details;
        @include mobile {
            @include medidas(90%, 50%);
        }
        a {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: 0;
                background-color: $details;
                left: 0;
                transition: all 0.3s ease-in-out;
            }

            &:hover::before {
                width: 100%;
            }
            &:hover {
                color: $details;
            }
        }
    }
}
.socialLinks {
    @include medidas(20%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        @include medidas(100%, 15%);
    }

    a {
        @include medidas(20%, 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
ion-icon {
    @include medidas(60%, 60%);
    color: $details;
}
