@import './variables.scss';

.projects {
    @include medidas(100%, 110vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $details-secondary;
    padding: 5rem 2rem 2rem 2rem;
    h2 {
        margin-bottom: 2rem;
    }
}

.project {
    @include medidas(auto, 45%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    @include medidas(100%, 75%);
}

.project-content {
    @include medidas(10rem, 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        @include medidas(100%, 80%);
        object-fit: contain;
    }
    div {
        @include medidas(100%, 20%);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        text-decoration: none;
        color: white;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: 0;
            background-color: $details-terciary;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        &:hover::before {
            width: 100%;
        }
        &:hover {
            color: $details-terciary;
        }
    }
}
