@import './variables.scss';

.tech {
    @include medidas(100%, 120vh);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 3rem;
    background-color: $general;
    padding: 2rem;
    .tech-col {
        @include medidas(100%, 60%);
        display: flex;
    }
    h2 {
        margin-bottom: 2rem;
    }
}

.tech-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    @include medidas(50%, 100%);
    border: 1px solid $general-light;
    border-radius: 1rem;
    padding: 1rem 0 0 0;

    &--left {
        margin: 0 0.5rem 0 1rem;
    }
    &--right {
        margin: 0 1rem 0 0.5rem;
    }

    &--title {
        @include medidas(100%, 6rem);
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        h2 {
            color: $details;
        }
        h5 {
            @include medidas(80%, auto);
            line-height: 1.8rem;
        }
    }

    &--dev {
        @include medidas(80%, 10rem);
        display: flex;
        justify-content: space-between;
    }

    &--technologies {
        h2 {
            color: $details-terciary;
        }
    }
}

.technologies {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
